@import 'tailwindcss/base.css';
@import 'tailwindcss/components.css';
@import 'tailwindcss/utilities.css';

@import 'header.css';
@import 'main-catalog.css';
@import 'side-filters.css';
@import 'search-box.css';
@import 'book-card.css';
@import 'pagination.css';
@import 'dropdown.css';
@import 'datepicker.css';
@import 'order-filters.css';

:root{
  /* TODO: define where this colors should be */
  --bg-chip: #FFF;
  --support-color: #5a6171;
  --color-txt: #333333;
  --border-color: #EEE;
}
