/*TODO: check if we need base.css*/
/*@import 'tailwindcss/base.css';*/
@import 'tailwindcss/components.css';
@import 'tailwindcss/utilities.css';

@import "header.css";
@import 'main-catalog.css';
@import 'side-filters.css';
@import 'search-box.css';
@import 'book-card.css';
@import 'pagination.css';
@import 'dropdown.css';

:root{
  /* TODO: define where this colors should be */
  --bg-chip: #EEF2F5;
  --support-color: #5a6171;
  --color-txt: #333333;
}
