.book-cards .book-card {
  @apply p-4 flex items-start justify-center gap-7 border rounded shadow-lg bg-white;
}

.book-cards .book-card .book-cover {
  @apply w-full max-w-xs;
}

.book-cards .book-card .book-cover img {
  @apply w-full rounded shadow object-cover;
}

.book-cards .book-card .book-info {
  @apply mt-4 flex-1;
}

.book-cards .book-card .book-info h2 {
  @apply text-2xl text-left font-bold normal-case;
  color: var(--primary);
}

.book-cards .book-card .book-info p {
  @apply m-0;
}

.book-cards .book-card .book-info > p:first-of-type {
  @apply text-sm;
}

.book-cards .book-card .book-info > p span:not(:first-child) {
  @apply before:mr-1 before:content-['|'];
}

.book-cards .book-card .book-info .book-extra-info {
  @apply mt-4 space-y-1;
}

.book-cards .book-card .book-info .book-extra-info p span {
  @apply font-bold;
}

.book-cards .book-card .book-info .book-description {
  @apply mt-4 tracking-wide;
}

.line-clamp {
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.read-more {
  @apply cursor-pointer;
}
