.book-cards .book-card {
  @apply p-4 flex items-start justify-center gap-6 border rounded shadow-lg bg-white;
}

.book-cards .book-card .book-cover {
  @apply w-2/6;
  max-width: 17.1875rem;
}

.book-cards .book-card .book-cover img {
  @apply w-full object-cover;
}

.book-cards .book-card .book-info {
  @apply flex-1;
}

.book-cards .book-card .book-info h2 {
  @apply text-2xl text-left font-bold normal-case mt-0 lg:mt-4 before:hidden;
  color: var(--primary);
}

.book-cards .book-card .book-info a {
  color: var(--primary);
}

.book-cards .book-card .book-info p {
  @apply text-base m-0;
}

.book-cards .book-card .book-info > p:first-of-type {
  @apply text-sm;
}

.book-cards .book-card .book-info > p span:not(:first-child) {
  @apply before:mr-1 before:content-['|'] before:font-semibold;
}

.book-cards .book-card .book-info .book-extra-info {
  @apply mt-4 space-y-1;
}

.book-cards .book-card .book-info .book-extra-info p span {
  @apply font-bold;
}

.book-cards .book-card .book-info .book-description {
  @apply my-4;
}

.book-cards .book-card .book-info .book-description p {
  @apply mb-4;
}

.book-cards .book-card .book-info .book-description.line-clamp *:not(a):not(em):not(del):not(span):not(strong):not(u) {
  display: contents;
}

.book-cards .book-card .book-info .book-description.line-clamp p:after,
.book-cards .book-card .book-info .book-description.line-clamp ul:after,
.book-cards .book-card .book-info .book-description.line-clamp ol:after,
.book-cards .book-card .book-info .book-description.line-clamp li:after,
.book-cards .book-card .book-info .book-description.line-clamp u:after {
  content: "\a";
  white-space: break-spaces;
}

.book-cards .book-card .book-info .book-description.line-clamp p:after {
  content: "\a\a";
}

.line-clamp {
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.read-more {
  @apply cursor-pointer;
}


