select {
  appearance: none;
  @apply p-4 rounded shadow cursor-pointer pr-8;
  background: var(--bg-chip) url(https://cdn.jsdelivr.net/npm/heroicons@0.4.0/solid/chevron-down.svg) no-repeat 95% center;
  background-size: 1.3rem;
}

select:focus {
  outline-color: var(--primary);
}
