.page-template-page-catalog .header {
  @apply py-6;
  @apply h-fit !important;
  background-image: none !important;
}

.page-template-page-catalog .header .header__inside {
  @apply px-4 py-1;
}

.page-template-page-catalog .header__nav-icon__icon,
.page-template-page-catalog .header__nav-icon__icon:after,
.page-template-page-catalog .header__nav-icon__icon:before {
  background: var(--accent-fg);
}

.page-template-page-catalog .hero {
  @apply pt-16 pb-24 w-full;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.page-template-page-catalog .hero > div {
  @apply px-4 flex mx-auto w-full max-w-8xl;
}

.page-template-page-catalog .hero h1 {
  @apply text-4xl normal-case font-bold mx-auto leading-snug lg:text-5xl lg:max-w-screen-md;
  color: var(--primary);
}

.page-template-page-catalog .hero-content {
  @apply py-9 px-12 w-full bg-white rounded shadow-lg lg:space-y-8 text-center;
}

.page-template-page-catalog .hero-content div {
  @apply mx-auto lg:max-w-screen-md;
}
