/* Apply basic tailwindcss defaults */
*, :after, :before {
  @apply box-border border-0 border-solid border-gray-300;
}

h1, h2, h3, h4, h5, h6 {
  @apply m-0;
}

[x-cloak] {
  @apply hidden;
}

.page-template-page-catalog {
  @apply font-sans;
}

.page-template-page-catalog #content {
  @apply w-full max-w-none;
  background-color: #f6f6f6;
}

.network-catalog {
  @apply flex lg:py-8 px-4 lg:gap-8 mx-auto w-full lg:max-w-8xl flex-col lg:flex-row;
}

.network-catalog .side-filters {
  @apply lg:block h-fit w-full md:max-w-xs mb-5;
}

.network-catalog .results {
  @apply lg:flex-1 lg:space-y-4;
}

.network-catalog .book-cards {
  @apply my-4 space-y-4;
}

#loading-bar .bar {
  background: var(--primary);
}

.contact {
  background: var(--border-color);
}

.contact h2 {
  @apply text-3xl font-bold lg:text-4xl;
  color: var(--primary);
}

.footer p {
  @apply mb-4;
}
