.pagination {
  @apply mx-auto flex items-center gap-4 max-w-fit font-semibold;
  color: var(--accent);
}

.pagination.top {
  @apply hidden lg:flex;
}

.pagination .pagination-item {
  @apply px-4 py-2 inline-flex items-center border rounded text-sm;
  color: var(--accent);
  background-color: var(--primary-fg);
  border-color: var(--accent);
}

.pagination .pagination-item a {
  color: var(--accent);
}

.pagination .pagination-item:hover, .pagination .pagination-item:hover a {
  border-color: var(--accent-dark);
 color: var(--accent-dark);
}

.pagination .pagination-item svg {
  @apply h-4 w-4;
}

.pagination select {
  @apply py-1.5 pl-2 rounded border-none shadow text-center;
  background-color: var(--primary-fg);
}
