.search-box {
  @apply flex lg:flex lg:gap-4 lg:flex-row flex-col my-5 md:my-0;
}

.search-box .search {
  @apply w-full flex flex-1 items-center bg-white border-b border-b-gray-900 rounded my-5 md:my-0;
}

.search-box .refine-filters {
  @apply w-full flex md:justify-evenly md:w-auto md:gap-4;
}

.search-box .search .search-input {
  @apply py-2 px-3 w-full rounded-l focus-within:outline-none;
}

.search-box .search .search-input:focus-within {
  outline-color: var(--primary);
}

.search-box .search input[type=search] {
  @apply py-1 w-full border-b border-gray-900 focus:outline-none;
}

.search-box .search input[type=search]:focus {
  /*outline-color: var(--primary-dark);*/
}

.search-box .search input[type=search]:disabled {
  @apply bg-white;
}

.search-box .search button {
  @apply -ml-px py-3 px-5 inline-flex border-y border rounded-l-none rounded-r hover:shadow focus:outline-none;
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--primary-fg);
}

.search-box .search button:focus {
  outline-color: var(--primary-dark);
}

.search-box .search button:hover {
  background-color: var(--primary-dark);
}

.search-box .search button svg {
  @apply h-6 w-6;
}

.search-box .results-per-page, .search-box .results-sort-by {
  @apply py-3 px-4 rounded border-b border-gray-400 shadow focus:outline-none
}

.search-box .results-per-page:focus, .search-box .results-sort-by:focus {
  outline-color: var(--primary);
}

.result-stats {
  @apply text-xl text-left font-bold normal-case;
}

.applied-filters {
  @apply mt-2 flex gap-2;
}

.applied-filters .applied-filter {
  @apply py-2 px-3 w-fit flex gap-3 items-center justify-center bg-gray-50 rounded shadow;
  background: var(--bg-chip);
}

.applied-filters .applied-filter .remove {
  @apply p-0 inline-flex justify-center items-center border-none bg-transparent cursor-pointer text-gray-500 hover:text-gray-700 hover:bg-transparent;
}

.applied-filters .applied-filter .remove svg {
  @apply h-4 w-4;
}
