.search-box {
  @apply flex lg:flex lg:gap-4 lg:flex-row flex-col
}

.search-box .search {
  @apply flex flex-1 items-center;
}

.search-box .search input[type=search] {
  @apply w-full p-3 border rounded-l focus:outline-none;
}

.search-box .search input[type=search]:focus {
  outline-color: var(--primary-dark);
}

.search-box .search button {
  @apply py-3 px-4 border-y border rounded-l-none rounded-r hover:shadow focus:outline-none;
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--primary-fg);
}

.search-box .search button:focus {
  outline-color: var(--primary-dark);
}

.search-box .search button:hover {
  background-color: var(--primary-dark);
}

.search-box .results-per-page, .search-box .results-sort-by {
  @apply py-3 px-4 rounded border-b border-gray-400 shadow focus:outline-none
}

.search-box .results-per-page:focus, .search-box .results-sort-by:focus {
  outline-color: var(--primary);
}

.result-stats {
  @apply text-xl text-left font-bold normal-case;
}

.applied-filters {
  @apply mt-2 flex gap-2;
}

.applied-filters .applied-filter {
  @apply py-2 px-3 w-fit flex gap-3 items-center justify-center bg-gray-50 rounded shadow;
  background: var(--bg-chip);
}

.remove {
  @apply cursor-pointer justify-center items-center text-gray-500 hover:text-gray-700 pt-1;
}

.remove svg {
  @apply h-4 w-4;
}
