.search-box {
  @apply flex space-x-4;
}

.search-box .search {
  @apply flex flex-1 items-center;
}

.search-box .search input[type=search] {
  @apply w-full p-3 border rounded-l focus:outline-none focus:ring focus:ring-offset-2 focus:ring-1;
}

.search-box .search input[type=search]:focus {
  outline-color: var(--primary-dark);
}

.search-box .search button {
  @apply py-3 px-4 border-y border rounded-l-none rounded-r hover:shadow focus:outline-none focus:ring focus:ring-offset-2 focus:ring-1;
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--primary-fg);
}

.search-box .search button:focus {
  outline-color: var(--primary-dark);
}

.search-box .search button:hover {
  background-color: var(--primary-dark);
}

.search-box .results-per-page, .search-box .results-sort-by {
  @apply py-3 px-4 rounded border-b border-gray-400 shadow focus:outline-none focus:ring focus:ring-offset-2 focus:ring-1
}

.search-box .results-per-page:focus, .search-box .results-sort-by:focus {
  outline-color: var(--primary);
}

.result-stats {
  @apply text-2xl text-left font-bold normal-case;
}

.applied-filters {
  @apply flex space-x-2;
}

.applied-filters .applied-filter {
  @apply py-1 px-3 flex items-center space-x-4 border rounded-full
}
