.side-filters .side-filter {
  @apply py-3 px-4 flex items-center justify-between border-b border-gray-300;
}

.side-filters .reset-filters {
  @apply w-full p-3 text-sm font-bold uppercase border rounded-b rounded-t-none hover:shadow focus:outline-none focus:ring focus:ring-offset-2 focus:ring-1;
  background-color: var(--primary);
  color: var(--primary-fg);
}

.side-filters .reset-filters:hover {
  background-color: var(--primary-dark);
}

.side-filters .reset-filters:focus {
  outline-color: var(--primary-dark);
}
